@use "@styles/colours" as colours;
@use "@styles/fonts" as fonts;

.headerbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: colours.$background-colour;
}

.headerbarLink {
    padding: 10px;
    font-size: fonts.$xs-font-size;
    letter-spacing: fonts.$narrow-letter-spacing;
    text-decoration: none;
    color: colours.$grey;
    transition: color 0.3s ease;

    &:hover,
    &:focus,
    &.active {
        color: colours.$white;
    }
}
