@use "@styles/colours" as colours;
@use "@styles/fonts" as fonts;
@use "@styles/breakpoints" as breakpoints;

.footerbar {
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 10px;
    background-color: colours.$darkened-background-colour;

    .left {
        grid-area: left;
        text-align: left;
    }

    .middle {
        grid-area: middle;
        text-align: center;
    }

    .right {
        grid-area: right;
        text-align: right;
    }

    @media (max-width: breakpoints.$sm-window) {
        display: block;

        .left,
        .middle,
        .right {
            text-align: center;
        }
    }
}

.text {
    color: colours.$dark-grey;
    font-size: fonts.$xs-font-size;
    letter-spacing: fonts.$narrow-letter-spacing;
}
