@use "@styles/fonts" as fonts;
@use "@styles/colours" as colours;

.page {
    display: flex;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    backdrop-filter: blur(6px);
    background-color: colours.$darkened-background-colour;

    .conversationsContainer {
        min-width: 40%;

        .controls {
            margin: 10px;
        }

        .conversations {
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    .messagesContainer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 10px;

        .header {
            text-align: center;
            color: colours.$white;
            font-size: fonts.$xl-font-size;
            font-weight: fonts.$light-font-weight;
            letter-spacing: fonts.$wide-letter-spacing;
        }

        .messages {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            padding-bottom: 10px;
            
            & > div:first-child {
                margin-top: auto;
            }
        }
    }
}
