$white: rgba(255, 255, 255, 1);
$light-grey: rgba(190, 190, 190, 1);
$grey: rgba(148, 148, 148, 1);
$dark-grey: rgba(30, 30, 30, 1);
$black: rgba(0, 0, 0, 1);

$primary-colour-light: rgba(29, 255, 239, 1);
$primary-colour: rgba(31, 255, 214, 0.65);
$primary-colour-dark: rgb(42, 163, 155);

$secondary-colour: rgba(114, 93, 255, 1);

$background-colour: rgba(0, 0, 0, 0.4);
