$white: #ffffff;
$grey: #949494;
$dark-grey: #5e5e5e;

$primary-colour-light: rgba(29, 255, 239, 1);
$primary-colour: rgba(31, 255, 214, 0.65);
$primary-colour-dark: rgb(42, 163, 155);

$secondary-colour: #35ee02;

$darkened-background-colour: rgb(0 0 0 / 35%);
$dark-background-colour: rgb(0 0 0 / 60%);
