@use "@styles/colours" as colours;
@use "@styles/fonts" as fonts;
@use "@styles/styling" as styling;

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: styling.$interface-background-colour;
}

.navlink {
    font-size: fonts.$xs-font-size;
    font-weight: fonts.$light-font-weight;
    letter-spacing: fonts.$normal-letter-spacing;
    text-decoration: none;
    color: colours.$grey;
    padding: 10px;
    transition: 0.3s;

    &:hover,
    &.active  {
        color: colours.$white;
    }
}
