@use "@styles/colours" as colours;
@use "@styles/fonts" as fonts;
@use "@styles/styling" as styling;

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: styling.$background-box-shadow;

    a {
        font-size: fonts.$xs-font;
        font-weight: 300;
        letter-spacing: 1.4px;
        text-decoration: none;
        color: colours.$grey;
        padding: 10px;
        transition: 0.3s;

        &:hover {
            color: colours.$white;
        }

        &.active {
            color: colours.$white;
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }
}
