@use "@styles/fonts" as fonts;
@use "@styles/colours" as colours;

.divider {
    margin-bottom: 10px;
    text-align: center;
    color: colours.$primary-colour;
    font-size: fonts.$sm-font-size;
}
