@use "@styles/colours" as colours;
@use "@styles/styling" as styling;

.button {
    @extend %button-base;

    &.primary {
        padding: styling.$padding;
        border-radius: styling.$border-radius;
        color: colours.$black;
        background-color: colours.$primary-colour;
        transition: all 0.2s ease-in;
    }
}
