@use "@styles/fonts" as fonts;
@use "@styles/colours" as colours;
@use "@styles/styling" as styling;

$icon-size: 24px;

.message {
    display: flex;
    align-items: center;

    svg {
        min-width: $icon-size;
        font-size: $icon-size;
        color: colours.$white;
    }

    svg + .content {
        margin-left: 0;
    }

    .content {
        width: 100%;
        padding: {
            left: 5px;
            right: 5px;
        }
        margin-left: $icon-size;

        span {
            width: fit-content;
            padding: 4px 8px;
            border-radius: styling.$border-radius;
            font-size: fonts.$md-font-size;

            &.left {
                color: colours.$white;
                background-color: colours.$dark-background-colour;
            }
            
            &.right {
                float: right;
                margin-left: 20px;
                color: colours.$black;
                background-color: colours.$primary-colour;
            }
        }
    }

    time {
        color: colours.$light-grey;
        font-size: fonts.$sm-font-size;
    }
}
