@use "@styles/fonts" as fonts;
@use "@styles/colours" as colours;
@use "@styles/styling" as styling;

@use "../message/styles" as message;

$spacer-height: 10px;

.messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: $spacer-height;
    
    .timestamp {
        margin-bottom: 10px;
        text-align: center;
        color: colours.$primary-colour;
        font-size: fonts.$sm-font-size; 
        
        &:first-child {
            // when first child, it should push itself and 
            // siblings to the bottom of the window
            margin-top: auto;
        }
    }

    .author {
        margin: {
            left: message.$icon-size + 10px;
            bottom: 2px;
        }
        color: colours.$light-grey;
        font-size: fonts.$sm-font-size;
    }

    .spacer {
        height: $spacer-height;
    }
}