@use "@styles/colours" as colours;

html,
body {
    margin: 0;
    height: 100%;
    font-family: "proxima-nova";
}

body {
    display: flex;
    flex-direction: column;
    background: {
        image: url("/images/background.jpg");
        position: center;
        repeat: no-repeat;
        size: cover;
        color: colours.$background-colour;
    }
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 45%);
    background-clip: padding-box;

    &:hover {
        background-color: rgb(0 0 0 / 55%);
    }
}
