@use "@styles/styling" as styling;
@use "@styles/fonts" as fonts;
@use "@styles/colours" as colours;

$sm-avatar-size: 30px;
$md-avatar-size: 45px;
$lg-avatar-size: 60px;

.avatar {
    text-align: center;
    border-radius: 50%;
    background-color: colours.$darkened-background-colour;

    img {
        max-width: 100%;
        height: 100%;
        border-radius: inherit;
        image-rendering: -webkit-optimize-contrast;
    }

    div {
        color: colours.$white;
    }

    @mixin sizing($size) {
        width: $size;
        min-width: $size;
        height: $size;
        line-height: $size;

        div {
            font-size: calc($size / 3);
        }
    }

    &.sm {
        @include sizing($sm-avatar-size);
    }

    &.md {
        @include sizing($md-avatar-size);
    }

    &.lg {
        @include sizing($lg-avatar-size);
    }
}
